{% extends 'events/base.html' %}{% load static %}
{% block body %}
    <div class="container main d-flex align-content-center justify-content-center">
        <div class="row sub-main">
            <div class="col-12 col-sm-6 col-lg-3 p-0">
                <div class="card">
                    <div class="card-body">
                        <div class="container m-0 p-0">
                            <nav class="row m-0 p-0">
                                <div class="col d-flex p-0">
                                    <div class="container">
                                        <h1 class="notes-logo text-center">Notes</h1>
                                        <h2 class="register-tooltip">Зарегистрируйтесь, чтобы создавать заметки.</h2>
                                    </div>
                                </div>

                            </nav>
                            <div class="row mt-3 m-auto d-block">
                                <form class="col-10 col-sm-10 m-auto p-0" method='POST'
                                      action="{% url 'accounts:register' %}">{% csrf_token %}
                                    {% if form.username.errors %} {% endif %}
                                    <div class="form-group">
                                        {{ form.username }}
                                        {% if form.username.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.username.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password }}
                                        {% if form.password.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.password.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password2 }}
                                        {% if form.password.errors %}
                                            <div class="invalid-feedback">
                                                {{ form.password.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <button type="submit"
                                            class="create-event create-event-link border-0 btn create d-block m-auto">
                                        Регистрация
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-sm-6 col-lg-3 p-0 justify-content-center">
                <div class="card mt-3">
                    <div class="card-body">
                        <p class="text-center">Есть аккаунт? <a href="{% url 'accounts:login' %}">Вход</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}